.skillContainer {
  width: 218px;
  height: 138px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  cursor: none;
}

.skillContainer::after {
  content: "";
  width: 50%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: -2;
  opacity: 0;
  box-shadow: 0px 0px 30px #b2d3e8, 0px 0px 88px 38px #499bce;

  transition: 580ms;
}

@media (max-width: 991px) {
  .skillContainer {
    margin-bottom: 18px;
    position: relative;
    top: 0 !important;
    left: 0 !important;
  }
}

.skillContainer:hover::after {
  opacity: 1;
}

.skillScoreContainer {
  width: 48px;
  height: 24px;
  margin: 18px 0;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  transition: 180ms;
}

.skillContainer:hover .skillScoreContainer {
  margin: 8px 0;
}

.skillContainerSVGBG {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  stroke: #563547;
  stroke-width: 1.8px;
}

.skillContainer:hover .skillContainerSVGBG {
  stroke: #b2d3e8;
  stroke-width: 0.5px;
}

.skillDescription {
  color: var(--dl-color-default-white85primary);
  width: 162px;
  height: 0px;
  opacity: 0%;
  font-size: 11px;
  text-align: center;
  font-family: Play;
  /* text-shadow: 0px 0px 11.6012px rgba(178, 211, 232, 0.5),
    0px 0px 30.9366px rgba(73, 155, 206, 0.5); */
  transition: 380ms;
  overflow: hidden;
}

.skillContainer:hover .skillDescription {
  height: 30px;
  opacity: 100%;
}

.skillContainerRedBlock {
  width: 75px;
  height: 11px;
  display: flex;
  position: absolute;
  bottom: -3.5px;
  align-items: center;
  border-color: var(--dl-color-default-blandpurple);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-default-darkred);
  transition: 380ms;
}

.skillContainer:hover .skillContainerRedBlock {
  transform: translateY(80%);
  border-color: #b2d3e8;
}

.electricLinesContainer {
  width: 200px;
  height: 44.5px;
  display: flex;
  z-index: -2;
  position: absolute;
}

@media (max-width: 991px) {
  .electricLinesContainer {
    display: none;
  }
}

.electricLinesContainer1 {
  top: 30%;
  right: 80%;
}

.electricLinesContainer2 {
  bottom: 100%;
  right: 30%;
  transform: rotate(45deg);
}

.electricLinesContainer3 {
  top: 30%;
  left: 80%;
}

.electricLinesContainer4 {
  bottom: 100%;
  left: 30%;
  transform: rotate(-45deg);
}

.electricLine {
  left: 0px;
  width: 100%;
  height: 0.6px;
  position: absolute;
  background-color: var(--dl-color-default-darkred);
  transition: 580ms;
}

.skillContainer:hover .electricLine {
  background-color: var(--dl-color-default-lightblue91primary);
  filter: drop-shadow(0px 0px 15px rgba(178, 211, 232, 0.5))
    drop-shadow(0px 0px 40px rgba(73, 155, 206, 0.5));
}

.Line1 {
  top: 1px;
}

.Line2 {
  top: 3.5px;
}
.Line3 {
  top: 8.5px;
}
.Line4 {
  top: 13.5px;
}
.Line5 {
  top: 15.5px;
}
.Line6 {
  top: 16.5px;
}
.Line7 {
  top: 22.5px;
}
.Line8 {
  top: 34.5px;
}
.Line9 {
  top: 39.5px;
}
.Line10 {
  top: 44.5px;
}
.Line11 {
  top: 41.5px;
}
.Line12 {
  top: 26.5px;
}

@media (max-width: 479px) {
}
