.electricLinesContainer {
  width: 200px;
  height: 44.5px;
  display: flex;
  z-index: -2;
  position: absolute;
}

.electricLinesContainer1 {
  top: 30%;
  right: 80%;
}

.electricLinesContainer2 {
  bottom: 100%;
  right: 30%;
  transform: rotate(45deg);
}

.electricLinesContainer3 {
  top: 30%;
  left: 80%;
}

.electricLinesContainer4 {
  bottom: 100%;
  left: 30%;
  transform: rotate(-45deg);
}

.electricLine {
  left: 0px;
  width: 100%;
  height: 0.6px;
  position: absolute;
  background-color: var(--dl-color-default-darkred);
}

.Line1 {
  top: 1px;
}

.Line2 {
  top: 3.5px;
}
.Line3 {
  top: 8.5px;
}
.Line4 {
  top: 13.5px;
}
.Line5 {
  top: 15.5px;
}
.Line6 {
  top: 16.5px;
}
.Line7 {
  top: 22.5px;
}
.Line8 {
  top: 34.5px;
}
.Line9 {
  top: 39.5px;
}
.Line10 {
  top: 44.5px;
}
.Line11 {
  top: 41.5px;
}
.Line12 {
  top: 26.5px;
}
