:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #d9d9d9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #a22020;
  --dl-color-danger-500: #bf2626;
  --dl-color-danger-700: #e14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #ffffff;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32a94c;
  --dl-color-success-700: #4cc366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-default-darkred: #32171eff;
  --dl-color-hover-nav-hover: #ebaaaaff;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-default-redglass: rgba(0, 0, 0, 1);
  --dl-space-space-threeunits: 48px;
  --dl-color-default-brightred: rgba(169, 84, 108, 1);
  --dl-color-border-glassoutline: #88888833;
  --dl-color-default-blandpurple: #563547ff;
  --dl-space-space-oneandhalfunits: 24px;
  --dl-color-default-lightredlinear: rgba(74, 40, 40, 1);
  --dl-color-default-white85primary: rgba(216, 216, 216, 1);
  --dl-color-default-cyberbackground: rgba(20, 3, 3, 1);
  --dl-color-default-lightblue91primary: rgba(178, 211, 232, 1);
  --dl-color-default-lightblue91primary2: rgba(178, 211, 232, 1);
}

/* ::-webkit-scrollbar {
  width: 3.8px;
  background-color: #181818;
}


::-webkit-scrollbar-thumb {
  background-color: #383838;
  border-radius: 3px;
}


::-webkit-scrollbar-thumb:hover {
  background-color: #686868;
} */

::-webkit-scrollbar {
  display: none;
}

.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.navLink {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.navContainer {
  color: var(--dl-color-default-brightred);
  display: flex;
  box-sizing: border-box;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 8px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.navContainer:hover {
  color: var(--dl-color-hover-nav-hover);
}

.navContainer:active {
  color: #61323f;
}

.navBlock {
  padding: 0.38em 1.8em;
  position: relative;
  border-color: var(--dl-color-border-glassoutline);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
}
.navBlock:after {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 240, 229, 0.2),
    transparent
  );
  transition: 0s;
}
.navBlock:hover:after {
  right: 100%;
  transition: 380ms;
}
.navBlock:active {
  background: #280000;
}
.glassBox {
  display: flex;
  padding: 2em;
  background: linear-gradient(
    123.08deg,
    rgba(0, 0, 0, 0.8) 2.03%,
    rgba(55, 35, 35, 0.4) 98.72%
  );
  align-items: flex-start;
  border-color: rgba(136, 136, 136, 0.2);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 18px;
  flex-direction: column;
  backdrop-filter: blur(10px);
  justify-content: center;
}
.connectingLinearBg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(180deg, rgba(22, 32, 35, 0) 60.42%, #162023 100%);
  user-select: none;
  display: none;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

@media (max-width: 767px) {
  .glassBox {
    padding: 1em;
  }
}
@media (max-width: 479px) {
  .navBlock {
    padding: 0.8em;
  }
}
